.filter-container{
    max-width: 1160px;
    margin: 0 auto 90px;
}
.filter-menu{
    margin-top: 90px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-menu li{
    font-size: 14px;
    color: #717171;
    padding: 20px 25px;
    border: 1px solid #DADADA;
}
.filter-menu li:hover{
    cursor: pointer;
    outline:2px solid #9dccc2;
    outline-offset:-2px;
    color: #9dccc2;
}
.checked-menu-element{
    color: #18cfab!important;
    outline:2px solid #18cfab;
    outline-offset:-2px;
}
.block-cover{
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*display: grid;*/
    /*grid-template-columns: repeat(4, auto);*/
}
.box{
    width: 285px;
    height: 206px;
    transition: 0.5s;
}
.box:hover{
    transform: scale(1.4,1.4);
}
.work-picture{
    width: 285px;
    height: 206px;
}
.hide {
    width: 0;
    height: 0;
    animation-name: a1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes a1{
    to {
        opacity: 0;
        min-height: 0;
        min-width: 0;
    }
}